{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": ["eslint:recommended", "google"],
    "rules": {
        "linebreak-style": "off",
        "require-jsdoc": "off",
        "quotes": "off",
        "object-curly-spacing": "off",
        "arrow-parens": "off",
        "no-undef": "off",
        "no-unused-vars": "off",
        "operator-linebreak": "off",
        "no-trailing-spaces": "off",
        "semi": "off",
        "max-len": "off"
    }
}
